.app-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;

  .scroll-button {
    position: fixed;
    bottom: 15px;
    right: 25px;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;

    img {
      height: 35px;
      width: 35px;
      position: relative;
      left: 1px;
      top: 3px;
    }
  }

  .back {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    height: 21px;
    left: 12px;
    outline: none;
    position: fixed;
    top: 10px;
    visibility: hidden;
    width: 40px;
    z-index: 10;

  }
}

///* Portrait */
//@media screen and (orientation:portrait) {
//  .app-container {
//
//    .scroll-button {
//      visibility: visible;
//    }
//
//    app-series, app-episodes {
//      flex-basis: 50%;
//    }
//
//    app-episodes {
//      padding-right: 12px;
//    }
//
//    app-video-player {
//      flex-basis: 100%;
//      margin-top: 10px;
//      margin-bottom: 10px;
//    }
//  }
//}

/* Portrait */
@media screen and (orientation:portrait) {
  .app-container {
    position: relative;
    overflow: hidden;

    .back {
      visibility: visible;
    }

    &.episodes-shown {
      app-series {
        transform: translateX(-100%);
      }

      app-episodes {
        transform: translateX(0);
      }
    }

    &.video-shown {
      app-series {
        transform: translateX(-100%);
      }

      app-episodes {
        transform: translateX(-100%);
      }

      app-video-player {
        transform: translate(0);
      }
    }

    app-series, app-episodes, app-video-player {
      flex-basis: 100%;
      position: absolute;
      left: 0;
      right: 12px;
      top: 0;
      bottom: 12px;
      transition: transform 500ms ease;
    }

    app-series {
      z-index: 1;
    }

    app-episodes {
      transform: translateX(100%);
      z-index: 2;
    }

    app-video-player {
      transform: translateX(100%);
      z-index: 3;
    }
  }
}
