<div #appContainer
     class="app-container"
     [ngClass]="{'episodes-shown': isEpisodesShown, 'video-shown': isVideoShown}">

  <button *ngIf="isEpisodesShown" class="back" (click)="back()"><</button>

  <app-series
    [series]="series"
    (showIdChanged)="showSelected($event)">
  </app-series>

  <app-episodes
    [episodes]="episodes"
    (episodeChanged)="episodeSelected($event)">
  </app-episodes>

  <app-video-player
    [videoUrl]="videoUrl">
  </app-video-player>

  <button class="scroll-button" (click)="scrollToBottom()">
    <img src="../assets/images/arrow-down.png" alt="scroll to bottom">
  </button>

</div>
