.card-header {
  color: rgba(255, 255, 255, 0.55);
  font-size: 30px;
  text-align: center;
  text-shadow: -2px 7px 7px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  -webkit-box-shadow :0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  background: rgba(0, 0, 0, 0.85);
  flex-grow: 1;
  padding: 20px 20px 20px 15px;

  .item {
    align-items: center;
    border-radius: 2px;
    color: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
    min-height: 50px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
    transition: all 250ms ease;

    &.selected {
      background: rgba(255, 0, 0, 0.4)!important;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px 0 rgba(255,255,255,1);
      -moz-box-shadow: 0 0 10px 0 rgba(255,255,255,1);
      -webkit-box-shadow: 0 0 10px 0 rgba(255,255,255,1);
    }

    img {
      border-radius: 50%;
      height: 40px;
      margin-right: 15px;
    }
  }
}
