@import 'card.scss';

body {
  background-image: url('assets/images/wallpaper.jpg');
  background-size: cover;
  font-family: Helvetica, sans-serif;
  margin: 0;
  min-width: 400px;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


